/BugSafari/target/
/KeyBoardMusic/target/
/CalculatorV4/target/
/MovieDatabase/target/
/ISBNVerifier/target/
/UnitTesting/nbproject/
/UnitTesting/target/
/ClassRoster/nbproject/
/Pangrams/nbproject/
/Pangrams/target/
/JavaMileStone3/target/
/InternationalSpaceStation/nbproject/
/InternationalSpaceStation/target/
/CompoundInterestBigD/nbproject/
/CompoundInterestBigD/target/
/VendingMachine/target/
/VendingMachine/nbproject/
/CaesarCipher/target/
/04FunctionalUnitTests/nbproject/
/04FunctionalUnitTests/target/
/SimpleSortingChallenge/target/
/HtmlParserPlaying/target/
/SlickProjectFun/target/
/rogueLikeTools/target/